.totalBox{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .scroll-container {
    height:30px;
    line-height:30px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
    .scroll-wrapper {
      position: absolute;
    }
  }
  .scroll-wrapper{
      transition: all 0.3s ease;
  }
  .left-animation-enter-active,
  .left-animation-leave-active {
    transition: left 0.3s ease;
  }
  
  .left-animation-enter,
  .left-animation-leave-to {
    left: 0;
  }
  .leftBtn,.rightBtn {
    cursor: pointer;
    position:relative;
    top:4px;
  }